# Testing and Linting
.pytest_cache
coverage*.xml
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
*.cover
.hypothesis/
.ruff_cache
tests/outputs/
tmp
tools/*.pdf

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.envrc
.env
.venv
uv.lock

# Build artifacts, distribution / packaging
src/stacie/_version.py
docs/build/
docs/_build/
docs/source/apidocs/
docs/source/static/*.pdf
docs/.jupyter_cache/
docs/jupyter_execute/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
notes.md

# IDEs
.spyderproject
.spyproject
.vscode
.idea

# macOS
.DS_Store

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv
